.filter__bar .category-item::after {
    border: 0;
}

.category-item__filter .item {
    cursor: pointer;
}

.category-item__filter .item > span {
    background: rgb(238, 238, 238);
    font-size: 13px;
    padding: 4px 16px;
    line-height: 20px;
    display: inline-block;
    position: relative;
    color: rgb(36, 36, 36);
    border-radius: 12px;
    margin-bottom: 4px;
}

.category-item__filter .item > span.selected {
    background: rgba(11, 119, 186, 0.2);
}

.category-list .price-small-text {
    color: rgb(133, 133, 133);
    font-size: 13px;
    padding-bottom: 5px;
    margin-top: 4px;
}

.category-list .input-group {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-right: 10px;
}

.category-list .input-group input {
    flex: 1 1 0%;
    width: 95px;
    height: 30px;
    padding: 0px 8px;
    background: rgb(255, 255, 255);
    border-radius: 4px;
    text-align: left;
    border: 1px solid rgb(184, 184, 184);
    outline: 0px;
    font-size: 13px;
}

.category-list .input-group > span {
    width: 7px;
    height: 1px;
    font-size: 0px;
    display: inline-block;
    background: rgb(154, 154, 154);
    margin: 0px 4px;
    vertical-align: middle;
}

.category-list button {
    background: rgb(255, 255, 255);
    border: 1px solid rgb(13, 92, 182);
    font-size: 12px;
    color: rgb(13, 92, 182);
    padding: 5px 15px;
    width: 99px;
    margin-top: 8px;
    border-radius: 4px;
}

.category-item__filter-form {
    margin-bottom: 15px;
}